.compact-card {
    border: 2px solid transparent;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin: 0.3em;
    background-color: #393a40;
    color: gray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    user-select: none;
    max-width: 15em;
    min-width: 12em;
    display: flex;
    height: max-content;
}

.compact-card h1 {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 10px 0 10px;
}

.compact-card .card-role {
    color: #bfb8b8;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 8em;
    font-size: 16px;
}

.selected-card {
    border: 2px solid #c5c5c5;
}

.search {
    color: black;
}

.card-role {
    font-weight: bold;
}

.compact-card-right p {
    font-size: 40px;
    margin: 0 10px 0 0;
    display: flex;
    justify-content: flex-end;
}

.compact-card-left p {
    font-size: 40px;
    margin: 0 0 0 10px;
    display: flex;
    justify-content: flex-start;
}

.compact-card-left, .compact-card-right {
    width: 50%;
}

.compact-card .card-quantity {
    text-align: center;
    margin: 0;
    font-size: 20px;
}

.compact-card-header {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 0;
    pointer-events: none;
    text-align: center;
}

#deck-container, #deck, #custom-roles-container {
    width: fit-content;
}

#deck-container, #custom-roles-container {
    margin: 1em 0;
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 3px;
}

#step-3 {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 3px;
    margin: 0 auto;
}

#step-4 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    margin: 0 auto;
    width: 25em;
    max-width: 95%;
}

#step-4 > div label {
    width: 100%;
}

#deck {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 20em;
}

#moderation-self span {
    color: gray;
    font-size: 18px;
}

form {
    width: 100%;
}

select {
    padding: 10px;
    font-size: 18px;
    font-family: 'signika-negative', sans-serif;
}

#game-form > div {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 3px;
    width: fit-content;
    margin: 1em 0;
}

#game-form > div > label {
    display: flex;
}

#game-time label, #game-time input {
    margin-right: 10px;
    font-size: 25px;
}

label[for="game-time"], label[for="add-card-to-deck-form"], label[for="deck"] {
    color: whitesmoke;
    font-size: 20px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"] {
    min-width: 3em;
    font-size: 40px;
}

#add-card-to-deck-form {
    margin-bottom: 1em;
}

#create-game{
    color: #45a445;
    font-size: 30px;
    padding: 10px 50px;
}

.dropdown {
    margin: 0.5em;
}

.creation-step {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    margin: 0 0.5em;
}

.creation-step-filled {
    background-color: whitesmoke;
}

#creation-step-container {
    margin-top: 2em;
    width: 100%;
    min-height: 16em;
}

#creation-step-container > div:nth-child(2) {
    animation: fade-in 0.5s ease-out;
}

#step-title {
    margin: 0 auto 1em auto;
    text-align: center;
}

#creation-step-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    position: relative;
    margin-bottom: 8em;
}

#game-creation-container {
    width: 95%;
    max-width: 60em;
}

#tracker-container {
    display: flex;
    align-items: center;
    margin-top: 2em;
    justify-content: center;
    width: 100%;
}

#creation-step-tracker {
    display: flex;
    justify-content: center;
}

#step-forward-button, #step-back-button, #create-game {
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 20px;
}

#step-forward-button, #create-game {
    right: 15%;
}

#step-back-button {
    left: 15%;
}

#step-1 div {
    background-color: black;
    color: whitesmoke;
    padding: 1em;
    max-width: 20em;
    margin: 0.5em;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

#step-1 div.option-selected {
    border: 2px solid whitesmoke;
    background-color: #3a3c46;
}

#step-1 div > strong {
    color: #00a718;
}

#step-1 div:hover {
    border: 2px solid whitesmoke;
}

.review-option {
    background-color: #1f1f1f;
    color: whitesmoke;
    padding: 10px;
    width: fit-content;
    border-radius: 3px;
    margin: 0.5em 0;
    align-self: flex-start;
}

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media(max-width: 550px) {
    h1 {
        font-size: 35px;
    }

    #step-1 div {
        font-size: 20px;
    }
}

@media(min-width: 551px) {
    h1 {
        font-size: 50px;
    }

    #step-1 div {
        font-size: 25px;
    }
}
