.lobby-player, #moderator {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    border-radius: 3px;
    font-size: 17px;
    width: fit-content;
    min-width: 15em;
    border: 2px solid transparent;
    margin: 0.5em 0;
}

.lobby-player-client {
    border: 2px solid #21ba45;
}

.lobby-player div:nth-child(2) {
    color: #21ba45;
}

#moderator.moderator-client {
    border: 2px solid lightgray;
}

#game-state-container {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#lobby-header {
    margin-bottom: 1em;
}

h1 {
    text-align: center;
    margin: 0.5em auto;
}

#game-state-container > div {
    margin: 1em;
}

#game-link {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    margin-top: 10px;
    padding: 7px;
    border-radius: 3px;
    background-color: #722c2c;
    color: whitesmoke;
    align-items: center;
    display: flex;
    transition: background-color 0.2s;
}

#game-player-count {
    color: whitesmoke;
    margin: 0.5em 0;
    font-size: 25px;
}

#game-role {
    position: relative;
    border: 5px solid transparent;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    max-width: 17em;
    border-radius: 3px;
    height: 23em;
    margin: 0 auto 2em auto;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11),
    0 2px 2px rgba(0,0,0,0.11),
    0 4px 4px rgba(0,0,0,0.11),
    0 8px 8px rgba(0,0,0,0.11),
    0 16px 16px rgba(0,0,0,0.11),
    0 32px 32px rgba(0,0,0,0.11);
    /*perspective: 1000px;*/
    /*transform-style: preserve-3d;*/
}

#game-role-back {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333243;
    border: 5px solid #61606a;
    position: relative;
    flex-direction: column;
    cursor: pointer;
    max-width: 17em;
    border-radius: 3px;
    height: 23em;
    margin: 0 auto 2em auto;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11),
    0 2px 2px rgba(0,0,0,0.11),
    0 4px 4px rgba(0,0,0,0.11),
    0 8px 8px rgba(0,0,0,0.11),
    0 16px 16px rgba(0,0,0,0.11),
    0 32px 32px rgba(0,0,0,0.11);
    /*perspective: 1000px;*/
    /*transform-style: preserve-3d;*/
}

#game-role-back h4 {
    font-size: 24px;
    padding: 0.5em;
    text-align: center;
    color: #e7e7e7;
}

#game-role-back p {
   color: #c3c3c3;
    font-size: 20px;
}

#game-timer {
    padding: 10px;
    margin-top: 5px;
    background-color: #262626;
    color: whitesmoke;
    border-radius: 3px;
    font-size: 35px;
    text-shadow: 0 3px 4px rgb(0 0 0 / 85%);
    border: 1px solid #747474;
}

#role-name {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'diavlo', sans-serif;
    width: 95%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#role-image {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 78%;
}

#role-description {
    overflow: auto;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 16px;
    width: 78%;
    max-height: 6em;
}

#game-link img {
    width: 20px;
    margin-left: 0.5em;
}

#game-title {
    margin: 0 auto;
}

#client-container {
    max-width: 35em;
    margin-top: 2em;
}

#client {
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #333243;
    border-radius: 3px;
}

#client-name {
    color: whitesmoke;
    font-family: 'diavlo', sans-serif;
    font-size: 30px;
}

#client-user-type {
    color: #21ba45;
    font-family: 'signika-negative', sans-serif;
    font-size: 25px;
    background-color: black;
    border-radius: 3px;
    display: block;
    padding: 0 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

label[for='moderator'] {
    font-family: 'diavlo', sans-serif;
    color: lightgray;
    filter: drop-shadow(2px 2px 4px black);
    font-size: 30px;
}

#start-game-prompt, #end-game-prompt {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    border-radius: 3px;
    font-family: 'signika-negative', sans-serif;
    font-weight: 100;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    left: 0;
    right: 0;
    bottom: 0;
    /* width: fit-content; */
    font-size: 20px;
    height: 120px;
    margin: 0 auto;
    animation: fade-in-slide-up 10s ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
    width: 100%;
    background-color: #333243;
}

#start-game-button, #end-game-button {
    font-family: 'signika-negative', sans-serif !important;
    padding: 10px;
    border-radius: 3px;
    color: whitesmoke;
    font-size: 30px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color, border 0.3s ease-out;
    text-shadow: 0 3px 4px rgb(0 0 0 / 85%);
}

#start-game-button {
    background-color: #1c8a36;
}

#end-game-button {
    background-color: #8a1c1c;
}

#start-game-button:hover {
    background-color: #326243;
    border: 2px solid #1c8a36;
}

#end-game-button:hover {
    background-color: #623232;
    border: 2px solid #8a1c1c;
}

#play-pause {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

#play-pause img {
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    width: 60px;
}

#play-pause img:hover {
    filter: brightness(0.5);
}

#play-pause img:active {
    transform: scale(0.95);
}

.paused {
    animation: pulse 0.75s linear infinite alternate;
}

#game-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.timer-container-moderator {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.moderator-player {
    border-left: 2px solid gray;
    display: flex;
    color: #d7d7d7;
    background-color: black;
    align-items: center;
    padding: 0 5px;
    justify-content: space-between;
    margin: 0.5em 0;
}

.moderator-player-name {
    width: 10em;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
    text-overflow: ellipsis;
}

.kill-player-button, .make-mod-button {
    font-family: 'signika-negative', sans-serif !important;
    padding: 5px;
    border-radius: 3px;
    color: whitesmoke;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color, border 0.3s ease-out;
    text-shadow: 0 3px 4px rgb(0 0 0 / 55%);
    margin: 5px 0 5px 25px;
    min-width: 6em;
}

.make-mod-button {
    background-color: #3f5256;
    font-size: 18px;
    padding: 10px;
}

.good-players {
    background-color: #1c1a36;
}

.evil-players {
    background-color: #361a1a;
}

.kill-player-button {
    background-color: #3f5256;
}

#player-list-moderator > div {
    padding: 2px 10px;
    border-radius: 3px;
    margin-bottom: 1em;
}

#players-alive-label {
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
}

@media(max-width: 685px) {
    #end-game-button {
        font-size: 25px;
    }

    #end-game-prompt {
        height: 85px;
    }
}

@keyframes pulse {
    from {
        color: rgba(255, 255, 255, 0.1);
    } to {
        color: rgba(255, 255, 255, 1);
    }
}

@keyframes fade-in-slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    5% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
