canvas, caption, center, cite, code,
dd, del, dfn, div, dl, dt, em, embed,
fieldset, font, form, h1, h2, h3, h4,
h5, h6, hr, i, iframe, img, ins, kbd,
label, legend, li, menu, object, ol, p,
pre, q, s, samp, small, span, strike,
strong, sub, sup, table, tbody, td, tfoot,
th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
@font-face {
    font-family: 'diavlo';
    src: url("../webfonts/Diavlo_LIGHT_II_37.woff2") format("woff2");
}

@font-face {
    font-family: 'signika-negative';
    src: url("../webfonts/SignikaNegative-Light.woff2") format("woff2");
}

html {
    font-family: 'signika-negative', sans-serif !important;
    background-color: #121314 !important;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
}

h1 {
    font-family: 'diavlo', sans-serif;
    color: #ab2626;
    filter: drop-shadow(2px 2px 4px black);
    margin: 0.5em 0;
}

h2 {
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
}

h3 {
    color: #d7d7d7;
    font-family: 'signika-negative', sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin: 0.5em 0;
}

label {
    color: #d7d7d7;
    font-family: 'signika-negative', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

input, textarea {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    color: #f7f7f7;
}

textarea, input {
    font-family: 'signika-negative', sans-serif;
    font-size: 16px;
}

button, input[type="submit"] {
    font-family: 'signika-negative', sans-serif !important;
    padding: 10px;
    background-color: #722c2c;
    border-radius: 3px;
    color: whitesmoke;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color 0.3s ease-out;
}

button:active, input[type=submit]:active {
    border: 2px solid #21ba45;
}

.container {
    padding: 5px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    max-width: 68em;
    margin: 0 auto;
}

button:hover, input[type="submit"]:hover, #game-link:hover {
    background-color: #333243;
}

input {
    padding: 10px;
}

.info-message {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    padding: 10px;
    border-radius: 3px;
    font-family: 'signika-negative', sans-serif;
    font-weight: 100;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    left: 0;
    right: 0;
    width: fit-content;
    max-width: 80%;
    min-width: 15em;
    font-size: 20px;
    margin: 0 auto;
}

#navbar {
    display: flex;
    align-items: center;
    padding: 5px 0;
    width: 100%;
    background-color: #333243;
}

#navbar img {
    margin: 0 1em;
    width: 50px;
}

#navbar a {
    color: #f7f7f7;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
    font-family: 'diavlo', sans-serif;
}

#navbar a:hover {
    color: gray;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-row-container-left-align {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.animated-placeholder {
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: pulse-background;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    background: rgb(238,238,238);
    position: relative;
    overflow: hidden;
    height: 20px;
    border-radius: 3px;
    opacity: 0.15;
    margin: 0.5em 0;
}

.animated-placeholder-short {
    width: 100%;
    max-width: 15em;
    height: 2em;
    margin: 0 auto;
}

.animated-placeholder-long {
    width: 100%;
    max-width: 30em;
    height: 8em;
    margin: 0 auto 0.5em auto;
}

.animated-placeholder-invisible {
    background-color: transparent;
    animation: none;
}

.placeholder-row {
    display: flex;
    margin: 0;
    justify-content: center;
}

.placeholder-row .animated-placeholder-short {
    margin: 0 0 0.5em 0;
}

.good, .compact-card.good .card-role {
    color: #4b6bfa !important;
}

.evil, .compact-card.evil .card-role {
    color: #e73333 !important
}

@keyframes placeholder {
    0%{
        background-position: 50% 0
    }
    100%{
        background-position: -50% 0
    }
}

@keyframes pulse-background {
    from {
        background-color: rgb(120 120 120);
    } to {
        background-color: rgb(255 255 255);
    }
}


@keyframes fade-in-slide-down-then-exit {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    5% {
        opacity: 1;
        transform: translateY(0px);
    }
    95% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes fade-in-slide-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    5% {
        opacity: 1;
        transform: translateY(0px);
    }
    95% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media(max-width: 550px) {
    h1 {
        font-size: 35px;
    }

    #step-1 div {
        font-size: 20px;
    }
}

@media(min-width: 551px) {
    h1 {
        font-size: 50px;
    }

    #step-1 div {
        font-size: 25px;
    }
}
