canvas, caption, center, cite, code,
dd, del, dfn, div, dl, dt, em, embed,
fieldset, font, form, h1, h2, h3, h4,
h5, h6, hr, i, iframe, img, ins, kbd,
label, legend, li, menu, object, ol, p,
pre, q, s, samp, small, span, strike,
strong, sub, sup, table, tbody, td, tfoot,
th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
@font-face {
    font-family: 'diavlo';
    src: url("../webfonts/Diavlo_LIGHT_II_37.woff2") format("woff2");
}

@font-face {
    font-family: 'signika-negative';
    src: url("../webfonts/SignikaNegative-Light.woff2") format("woff2");
}

html {
    font-family: 'signika-negative', sans-serif !important;
    background-color: #23282b !important;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    margin: 0 auto;
    max-width: 68em;
}

h1 {
    font-family: 'diavlo', sans-serif;
    color: #ab2626;
    filter: drop-shadow(2px 2px 4px black);
    font-size: 40px;
    margin: 0.5em 0;
}

h3 {
    color: #d7d7d7;
    font-family: 'signika-negative', sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin: 0.5em 0;
}

label {
    color: #d7d7d7;
    font-family: 'signika-negative', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

input, textarea {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    color: #f7f7f7;
}

textarea, input {
    font-family: 'signika-negative', sans-serif;
    font-size: 16px;
}

button, input[type="submit"] {
    font-family: 'signika-negative', sans-serif !important;
    padding: 10px;
    background-color: black;
    border-radius: 3px;
    color: whitesmoke;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid transparent;
}

button:active, input[type=submit]:active {
    border: 2px solid #21ba45;
}

.container {
    padding: 5px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button:hover, input[type="submit"]:hover {
    background-color: #4f4f4f;
}

input {
    padding: 10px;
}

.info-message {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    padding: 10px;
    border-radius: 3px;
    font-family: 'signika-negative', sans-serif;
    font-weight: 100;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    left: 0;
    right: 0;
    width: fit-content;
    max-width: 30em;
    min-width: 15em;
    font-size: 20px;
    margin: 0 auto;
    animation: fade-in-slide-down-then-exit 6s ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

#navbar {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
}

#navbar a {
    color: #f7f7f7;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
}

#navbar a:hover {
    color: gray;
}


@keyframes fade-in-slide-down-then-exit {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    5% {
        opacity: 1;
        transform: translateY(0px);
    }
    95% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
