html {
    height: 100%;
}

body {
    align-items: center;
    justify-content: center;
    height: 100%;
}

button {
    padding: 20px;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
    padding: 10px;
    border-radius: 3px;
    background-color: #1f1f1f;
    justify-content: center;
    align-items: center;
}

a button {
    text-shadow: 0 3px 4px rgb(0 0 0 / 85%);
}

#join-button {
    min-width: 6em;
    max-height: 3em;
    color: #21ba45;
}

h3 {
    font-size: 20px;
    margin-bottom: 2em;
    padding: 1em;
    max-width: 23em;
    font-family: 'diavlo', sans-serif;
}

img {
    max-width: 400px;
    width: 63vw;
    min-width: 250px;
    margin: 1em 0;
}

form > div {
    margin: 1em 0;
}

#join-container {
    max-width: 90%;
}

#join-container > label {
    font-size: 35px;
    font-family: 'diavlo', sans-serif;
    color: #ab2626;
    filter: drop-shadow(2px 2px 4px black);
}

label[for="room-code"], label[for="player-name"] {
    margin-right: 0.5em;
}

@media (min-width: 700px) {
    button {
        font-size: 35px;
    }
}

@media (max-width: 701px) {
    button {
        font-size: 5vw;
    }
}
