.modal {
    border-radius: 2px;
    text-align: center;
    position: fixed;
    width: 85%;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #23282b;
    align-items: center;
    justify-content: center;
    max-width: 25em;
    max-height: 80%;
    height: fit-content;
    font-family: sans-serif;
    flex-direction: column;
    padding: 1em;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 100px);
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 50;
    cursor: pointer;
}

.modal > form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.modal > form > div > label {
    display: flex;
    font-size: 16px;
}

#modal-button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

#modal-button-container input {
    color: #21ba45;
}
