<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "../stylesheets/styles.css" />
    <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.ico"/>
</head>
<body>
<div id="faq-container">
    <a href="/"><button class="app-btn">Back</button></a>
    <h2>FAQ</h2>
    <div class="faq-question">
        <h3 class="faq-header" id="parity">What is Parity?</h3>
        <p class="faq-answer"><i>Parity</i> means equal, and in the context of the game, this refers to an equal number of wolves and villagers.
            This is a victory condition for the wolves, because if at any time during the day parity is reached, it is certain that the wolves
            will be able to kill all the remaining villagers. Thus, if a standard or custom role is marked as a Werewolf, it will be considered
            when the game determines if parity has been reached.
        </p>
    </div>
    <div class="faq-question">
        <h3 class="faq-header" id="reveals">What does it mean when a game is "Reveal" or "No-Reveal"?</h3>
        <p class="faq-answer">If you are playing a game with "reveals," players' roles will be revealed when they die. Otherwise, they remain a mystery.</p>
    </div>
</div>
</body>
</html>

