<!DOCTYPE html>
<html lang="en">
<head>
    <title>Werewolf</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "../stylesheets/styles.css" />
    <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.ico"/>
    <script src="../node_modules/socket.io-client/dist/socket.io.js"></script>
</head>
<body>
<div id="app-content">
    <div id='overlay'>
        <h2 id="killed-name"></h2>
        <img id="killed-role" src="data:," alt>
    </div>
    <div id="message-box"></div>
    <div id="lobby-container"></div>
    <div id="game-container">
        <div id="card-container"></div>
    </div>
    <div id="end-container"></div>
    <div id="launch"></div>
</div>
<script type="module" src="/javascript/game.js"></script>
</body>
</html>
