<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Werewolf</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" type = "text/css" href = "../stylesheets/styles.css" />
        <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.ico"/>
        <script src="../node_modules/socket.io-client/dist/socket.io.js"></script>
    </head>
    <body>
        <div id="landing-container">
            <div class="app-title">
                <img src="../assets/images/Wolf_Logo.gif" alt="Where Are the Wolves?" />
            </div>
            <div id="main-buttons">
                <button class="app-btn" id="create-game">Create Game</button>
                <a href="/join">
                    <button class="app-btn">Join</button>
                </a>
                <a href="/learn">
                    <button class="app-btn">Learn the Game</button>
                </a>
                <a href="/faq">
                    <button class="app-btn">FAQ</button>
                </a>
            </div>
            <div id="game-mode-select" style="display: none;">
                <span id="game-mode-back">&#8249;</span>
                <a href="/faq#reveals">What is this?</a>
                <a href="/create?reveals=true">
                    <div class="game-mode" id="game-mode-reveals">Reveal</div>
                </a>
                <a href="/create?reveals=false">
                    <div class="game-mode" id="game-mode-no-reveals">No-Reveal</div>
                </a>
            </div>
        </div>
        <footer id="footer">
            <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/alecm33">
                <span alt="Buy me a beer">🍺</span>
                <span style="margin-left:5px;">Buy me a beer</span>
            </a>
            <div>
                <a href="http://vanilla-js.com/">
                    <img src="../assets/images/vanilla_js.png">
                </a>
                <p>Created by Alec M.</p>
                <a href="https://github.com/AlecM33/Werewolf">Github</a>
                <a href="mailto:maier.144@osu.edu?Subject=Werewolf App Question" target="_top">Contact</a>
            </div>
            <div>
                <p>Werewolf created by Andrew Plotkin</p>
            </div>
        </footer>
        <script type="module" src="/javascript/index.js"></script>
    </body>
</html>
