<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Werewolf</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" type = "text/css" href = "../static/styles.css" />
        <script src="../node_modules/socket.io-client/dist/socket.io.js"></script>
    </head>
    <body>
        <div class="app-content">
            <a href="/">
                <div class="app-title">
                    <img src="../assets/images/Wolf_Logo.gif" alt="Where Are the Wolves?" />
                </div>
            </a>
        </div>
        <div id="main-buttons">
            <a href="/create">
                <button class="app-btn">Create Game</button>
            </a>
            <a href="/join">
                <button class="app-btn">Join</button>
            </a>
            <a href="/learn">
                <button class="app-btn">Learn the Game</button>
            </a>
        </div>
        <footer id="footer">
            <div>
                <img src="../assets/images/vanilla_js.png">
                <p>Created by Alec M.</p>
                <a href="https://github.com/AlecM33/Werewolf">Github</a>
            </div>
            <div>
                <p>Werewolf created by Andrew Plotkin</p>
            </div>
        </footer>
    </body>
</html>
