<!DOCTYPE html>
<html lang="en">
<head>
    <title>Werewolf</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "../stylesheets/styles.css" />
    <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.ico"/>
    <script src="../node_modules/socket.io-client/dist/socket.io.js"></script>
</head>
<body>
    <div id="app-content">
        <div id="join-game-container">
            <h2 class="app-header-secondary">Join a Game</h2>
            <form>
                <label>
                    Your Name
                    <span>
                        <input id="name" type="text"/>
                        <p id="name-error"></p>
                    </span>
                </label>
                <label>
                    Access Code
                    <span>
                        <input id="code" type="text" autocomplete="off"/>
                        <p id="join-error"></p>
                    </span>
                </label>
            </form>
            <div>
                <a href="/">
                    <button class="app-btn">Back</button>
                </a>
                <button id="join-btn" class="app-btn">Join</button>
            </div>
        </div>
    </div>
    <script type="module" src="/javascript/join.js"></script>
</body>
</html>
