<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "../stylesheets/styles.css" />
    <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.ico"/>
</head>
<body>
<div id="learn-container">
    <a href="/"><button class="app-btn">Back</button></a>
    <h2>Introduction</h2>
    <p>This is a social strategy game involving deception, deduction, cooperation, and any number of clever tactics.
        There are two teams - the village and the werewolves. The village has the objective of finding and killing all
        the wolves, and the wolves are trying to eat all the villagers. The game is divided into two phases: day and
        night. At night is when the werewolves operate, deciding together which villager to kill off. The daytime is when
        the village is active, deciding which among them seem evil and killing them to end the day. During the day, everyone
        is disguised as a villager - even those that are actually wolves.
    </p>
    <h2>Setup</h2>
    <p>At least 5 players are needed for a sensible game. Players can decide on which cards should go in the deck to create
        a balanced experience. For example, a 7 player game might involve 2 werewolves, 3 villagers, a hunter, and a seer.
        For larger games, this can be a bit trickier, but the goal is to create a game that isn't too easy for the wolves
        or the villagers. Once the deck is chosen, the deck is dealt, and players see only their card.
    </p>
    <h2>Gameplay</h2>
    <p>Play begins with the Night One. Everyone "goes to sleep," closing their eyes and creating some sort of white
        noise (commonly a patting of the hand on the thigh). At this point, the moderator will ask the Werewolves to wake
        up and see each other. If you do not have a designated moderator, choose someone arbitrarily for the first night,
        and then the first player to die can moderate the rest of the game.<br><br>

        First, The Werewolves will wake up and see the other wolves, giving them the knowledge that will guide the game.
        Then, the werewolves go back to sleep. If you are playing with a Minion, next the Werewolves will raise their
        hands (but not awake), and the Minion will awake to spot the wolves. You can also play with a "double-blind"
        minion, who does not know who the wolves are, but is still playing on the same team as the wolves. This is all
        that needs to happen on the first night.<br><br>

        At this point, everyone wakes up, and Day One begins. This is an open debate between everyone in the circle about
        who they should kill in suspicion of being a wolf. This can take any amount of time, but watch out, because the
        wolves win if time expires! You should have some system for exhibiting votes to kill another player. If a player
        receives a majority vote, they should press the "I'm dead" button on their screen, and everyone else will have
        that player's role revealed to them. At this point, everyone immediately goes to sleep, and the next night begins.<br><br>

        On every night after the first, wolves will, in silence, agree on someone in the circle (other than themselves)
        to eat during the night. After this concludes, and everyone wakes up, the player that was killed will be revealed
        by the moderator, and they will reveal their role. Then, of course, Day Two begins.<br><br>

        The game continues in this alternating fashion until an endgame is reached. If a day ends with the same number of
        wolves as villagers, the wolves win (as they can kill a villager at night, and then have the majority to kill the
        remaining villager during the day). If the village manages to kill every wolf, then they win. In the scenario
        where there is one villager and one wolf remaining, if the remaining villager is a Hunter, then the village wins.
        There are several "power cards" such as the Hunter, which can help the village or the wolves. If you are a power
        role, you can read the description on your card to find out what your special ability is.
    </p>
    <a href="/"><button class="app-btn">Back</button></a>
</div>
</body>
</html>
