<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Not Found</title>
        <meta name="description" content="This resource was not found.">
        <meta property="og:title" content="Not Found">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://play-werewolf.app/not-found">
        <meta property="og:description" content="The page you are looking for could not be found.">
        <meta property="og:image" content="image.png">
        <link rel="icon" href="/favicon.ico">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="stylesheet" href="/styles/GLOBAL.css">
        <link rel="stylesheet" href="/styles/create.css">
        <link rel="stylesheet" href="/styles/modal.css">
        <link rel="stylesheet" href="/styles/hamburgers.css">
        <link rel="stylesheet" href="/styles/404.css">
        <link rel="preload" href="./styles/toast.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="./styles/toast.css"></noscript>
    </head>
    <body>
        <div id="mobile-menu-background-overlay"></div>
        <div id="navbar"></div>
        <div id="not-found-container">
            <h1>404</h1>
            <h3>The game or other resource that you are looking for could not be found, or you don't have permission to access it.
            Old games are periodically cleared.</h3>
        </div>
        <script src="/dist/notFound-bundle.js.gz"></script>
    </body>
</html>
