<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create A Game</title>
    <meta name="description" content="Create a game of Werewolf using your custom set of roles.">
    <meta property="og:title" content="Create A Game">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://play-werewolf.app/create">
    <meta property="og:description" content="Create a game of Werewolf using your custom set of roles.">
    <meta property="og:image" content="image.png">
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="./styles/GLOBAL.css">
    <link rel="stylesheet" href="./styles/create.css">
    <link rel="stylesheet" href="./styles/modal.css">
    <link rel="stylesheet" href="./styles/confirmation.css">
    <link rel="stylesheet" href="/styles/hamburgers.css">
</head>
<body>
<div id="mobile-menu-background-overlay"></div>
<div id="navbar"></div>
<div id="game-creation-container" class="container"></div>
<script src="/dist/create-bundle.js"></script>
</body>
</html>
