<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Active Game</title>
    <meta name="description" content="Active Game">
    <meta property="og:title" content="Active Game">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Active Game">
    <meta property="og:image" content="image.png">
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="/styles/GLOBAL.css">
    <link rel="stylesheet" href="/styles/game.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="/styles/confirmation.css">
    <link rel="stylesheet" href="/styles/hamburgers.css">
    <link rel="preload" href="/webfonts/SignikaNegative-Light.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/styles/toast.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/styles/toast.css"></noscript>
    <link rel="preload" href="/styles/create.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/styles/create.css"></noscript>
</head>
<body>
    <script src="/dist/game-bundle.js.gz"></script>
    <script src="/socket.io/socket.io.min.js"></script>
</body>
</html>

