<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Active Game</title>
    <meta name="description" content="Join this game of werewolf!">
    <meta property="og:title" content="Werewolf Utility - Active Game">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Join this game of werewolf!">
    <meta property="og:image" content="image.png">
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="/styles/GLOBAL.css">
    <link rel="stylesheet" href="/styles/game.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="/styles/hamburgers.css">
    <link rel="preload" as="font" href="/webfonts/SignikaNegative-Light.woff2" crossorigin/>
    <link rel="preload" as="font" href="/webfonts/Diavlo_LIGHT_II_37.woff2" crossorigin/>
</head>
<body>
<div id="prompt"></div>
<div class="spinner-background"></div>
<div class="spinner-container">
    <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <p>Connecting to game...</p>
</div>
<div id="mobile-menu-background-overlay"></div>
<div id="navbar"></div>
<div id="game-content" class="container">
    <div class="placeholder-row">
        <div class="animated-placeholder animated-placeholder-short"></div>
        <div class="animated-placeholder animated-placeholder-short animated-placeholder-invisible"></div>
    </div>
    <div class="placeholder-row">
        <div class="animated-placeholder animated-placeholder-short"></div>
        <div class="animated-placeholder animated-placeholder-short animated-placeholder-invisible"></div>
    </div>
    <div class="animated-placeholder animated-placeholder-long"></div>
    <div class="animated-placeholder animated-placeholder-long"></div>
    <div class="placeholder-row">
        <div class="animated-placeholder animated-placeholder-short"></div>
        <div class="animated-placeholder animated-placeholder-short animated-placeholder-invisible"></div>
    </div>
    <div class="animated-placeholder animated-placeholder-long"></div>
</div>
<script src="/dist/game-bundle.js"></script>
</body>
</html>

