<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Play Werewolf (Mafia)</title>
        <meta name="description" content="An app to run games of Werewolf (Mafia) smoothly in a real or virtual social setting.">
        <meta property="og:title" content="Play Werewolf (Mafia)">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://play-werewolf.app">
        <meta property="og:description" content="An app to run games of Werewolf (Mafia) smoothly in a real or virtual social setting.">
        <meta property="og:image" content="image.png">

        <link rel="icon" href="/favicon.ico">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

        <link rel="stylesheet" href="./styles/GLOBAL.css">
        <link rel="stylesheet" href="./styles/home.css">
        <link rel="stylesheet" href="/styles/hamburgers.css">
    </head>
    <body>
    <div id="mobile-menu-background-overlay"></div>
    <div id="navbar"></div>
    <div id="home-page-top-section">
        <img src="../images/logo_cropped.gif"/>
        <h3>A tool to run the social deception game Werewolf (aka Mafia) smoothly in a real or virtual social setting.</h3>
        <div id="create-join">
            <a href="/create">
                <button id="home-create-button" class="app-button">Create A Game</button>
            </a>
            <div id="join-container">
                <label for="join-form">Join A Game</label>
                <form id="join-form">
                    <div>
                        <label for="room-code">Room Code</label>
                        <input id="room-code" type="text" placeholder="four-character code..." autocomplete="off" required/>
                    </div>
                    <input id="join-button" type="submit" value="Join"/>
                </form>
            </div>
        </div>
    </div>
    <div id="about-container">
        <div>
            <img id="framed-phone-screenshot" alt="framed phone screenshot" src="../images/framed-phone-screenshot.png"/>
            <h2>Join a game and have a role dealt to your device.</h2>
        </div>
        <div>
            <img id="framed-phone-screenshot-2" alt="framed phone screenshot" src="../images/framed-phone-screenshot-2.png"/>
            <h2>Create your own game with default or custom roles.</h2>
        </div>
    </div>
    <footer id="footer">
        <a href="https://www.buymeacoffee.com/alecm33"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=alecm33&button_colour=333243&font_colour=ffffff&font_family=Lato&outline_colour=b1afcd&coffee_colour=b1afcd" /></a>
        <div>
            <a href="https://github.com/AlecM33/Werewolf"><img src='/images/GitHub-Mark-Light-120px-plus.png'/></a>
            <a href="mailto:play.werewolf.contact@gmail.com?Subject=Werewolf App" target="_top"><img src='/images/email.svg'/></a>
        </div>
        <div>
            <p>Werewolf created by Andrew Plotkin</p>
        </div>
    </footer>
    <script src="/dist/home-bundle.js"></script>
    </body>
</html>
