<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create A Game</title>
    <meta name="description" content="How to use this app.">
    <meta property="og:title" content="How to use">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://playwerewolf.uk.r.appspot.com/how-to-use">
    <meta property="og:description" content="How to use this app.">
    <meta property="og:image" content="image.png">
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="/styles/GLOBAL.css">
    <link rel="stylesheet" href="/styles/create.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="/styles/hamburgers.css">
</head>
<body>
<div id="mobile-menu-background-overlay"></div>
<div id="navbar"></div>
<div id="how-to-use-container">
    <h1 class="how-to-use-header">Purpose of the Application</h1>
    <div class="how-to-use-section">This app serves as a means of running games in a social setting where a traditional
        running of the game is hindered. This might be when people are meeting virtually, and thus roles can't be handed
        out in-person, or when people are in-person but don't have Werewolf cards with them. You can use a deck of regular
        playing cards, but it can be difficult for players to remember which card signifies which role, especially if
        you want to build a crazy game with many different roles. Even when people are together and have cards, there's
        information that would be great to centralize for everyone - a timer, role descriptions, and the in/out status of
        players. This app attempts to provide the utilities necessary to run Werewolf with all the different roles you want,
        wherever you can access the internet.
    </div>
    <h1 class="">Creating a Game</h1>
    <div class="how-to-use-section">
        Creating a game through the app is a 4-step process:
        <br>
        <h3>Step One: Choosing method of moderation</h3>
        <br>
        You have two options for moderation during the game. If the moderator isn't playing, you can choose the "dedicated
        moderator" option.
    </div>
</div>
<script src="/dist/howToUse-bundle.js"></script>
</body>
</html>
