<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create A Game</title>
    <meta name="description" content="How to use this app.">
    <meta property="og:title" content="How to use">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://playwerewolf.uk.r.appspot.com/how-to-use">
    <meta property="og:description" content="How to use this app.">
    <meta property="og:image" content="image.png">
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="/styles/GLOBAL.css">
    <link rel="stylesheet" href="/styles/create.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="/styles/hamburgers.css">
</head>
<body>
<div id="mobile-menu-background-overlay"></div>
<div id="navbar"></div>
<div id="how-to-use-container">
    <h1 class="how-to-use-header">Purpose of the Application</h1>
    <div class="how-to-use-section">This app serves as a means of running games in a social setting where a traditional
        running of the game is hindered. This might be when people are meeting virtually, and thus roles can't be handed
        out in-person, or when people are in-person but don't have Werewolf cards with them. You can use a deck of regular
        playing cards, but it can be difficult for players to remember which card signifies which role, especially if
        you want to build a crazy game with many different roles. Even when people are together and have cards, there's
        information that would be great to centralize for everyone - a timer, role descriptions, and the in/out status of
        players. This app attempts to provide the utilities necessary to run Werewolf with all the different roles you want,
        wherever you can access the internet.
    </div>
    <h1 class="how-to-use-header">Creating a Game</h1>
    <div class="how-to-use-section">
        Creating a game through the app has 3 main components:
        <br>
        <h3>Step One: Choosing method of moderation</h3>
        <br>
        You have two options for moderation during the game. If the moderator isn't playing, you can choose the <span class="emphasized">dedicated
        moderator</span> option. Dedicated Moderators are <span class="emphasized">not dealt into the game</span>. Once they start the game, they will know
        everyone's role. At that point, they can kill players, reveal players' roles to everyone else, transfer their
        moderator powers, play/pause the timer (if there is one), and end the game when team good or evil wins.
        <br><br>
        Similarly, you can also choose the <span class="emphasized">temporary moderator</span> option. The key differences
        here are that you are <span class="emphasized">dealt a role</span>. You have the same powers as the dedicated
        moderator, with the exception of game knowledge - you know the same information that a regular player does.
        When you remove the first player from the game, your powers will be automatically transferred to them - they become
        the dedicated moderator, and you become a regular player.
        <br><br>
        <span class="emphasized">Dedicated moderators</span> can <span class="emphasized">transfer their moderator powers</span>
        to a player that is out, or to a spectator. That way, if the current dedicated moderator has to leave, or simply
        does not want to moderate anymore, they can easily delegate.
        <br><br>
        <img src="../images/tutorial/moderation-option.png" class="tutorial-image-small" alt="moderation-option"/>
        <br><br>
        <h3>Step Two: Build your deck</h3>
        <br>
        There is a role box on this page that includes a list of <span class="emphasized">default roles</span> and a list of <span class="emphasized">custom roles</span>, which can be
        displayed by selecting the appropriate button within the box. If you want to add a certain role to the game,
        <span class="emphasized">click the green plus</span>, and one copy of it will be added to the "deck," which is the other box displaying a player
        count. Likewise, if you want to remove one copy of a given role, <span class="emphasized">click the red minus button</span> on the role in the deck box.
        <br><br>
        Here I add 3 villagers to the game, and then remove them:
        <br><br>
        <img class='tutorial-image-small' src="../images/tutorial/add-role-to-deck.gif"/>
        <br><br>
        <span class="emphasized">You can add, edit, and remove custom roles.</span> You can also import and export them via a formatted text file. Click
        the hamburger menu on the role box to see the import/export options. Here I create a new custom role and observe
        it in the list:
        <br><br>
        <img alt="create-custom-role" class='tutorial-image-small' src="../images/tutorial/create-custom-role.gif"/>
        <br><br>
        <h3>Step Three: Set an optional timer</h3>
        <br>
        If you don't fill in these fields, the game will be untimed. If you do, <span class="emphasized">you can use a time between 1 minute
        and 5 hours.</span> The timer can be played and paused by the current moderator. Importantly, when the timer expires,
        <span class="emphasized">nothing automatically happens.</span> The timer will display 0s, but the game will not
        end. Whether or not the game ends immediately after that or continues longer is up to the moderator.
        <br><br>
    </div>
    <h1 class="how-to-use-header">Being the Moderator</h1>
    <div class="how-to-use-section">
        This is an example of what a <span class="emphasized">dedicated moderator</span> sees during the game:
        <br><br>
        <img class='tutorial-image-small' src="../images/tutorial/moderator-view.PNG"/>
        <br><br>
        They can see who is on which team and who has each role. The moderator kills and reveals players. They are
        separate actions - note the two buttons for each player. So if you want to play a game where people's roles are
        not revealed during the day or night, you can use the "kill" option but not the reveal option. Or, if you happen to
        have a role that reveals but is not immediately removed from the game, you can use the "reveal" option but not the
        "kill" option.
        <br><br>
        The <span class="emphasized">temporary moderator view</span> looks like this. They have
        much the same abilities as a dedicated moderator, except they don't know role or alignment information and cannot
        transfer their powers. Their powers will be transferred automatically to the first person they remove from the game:
        <br><br>
        <img class='tutorial-image-small' src="../images/tutorial/temp-mod-view.PNG"/>
        <br><br>
        <h3>Transferring your moderator powers</h3>
        <br>
        <span class="emphasized">You can transfer your moderator abilities to anyone that has been removed from the game, or to anyone that happens
            to be spectating.</span> After selecting them from the list, they will then inherit the moderator's view, and you will
        become a spectator:
        <br><br>
        <img class='tutorial-image-small' src="../images/tutorial/transfer-mod.gif"/>
        <br><br>
        <p class="teaser">More content coming soon.</p>
    </div>
</div>
<script src="/dist/howToUse-bundle.js"></script>
</body>
</html>
