<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create A Game</title>
    <meta name="description" content="Create a game of Werewolf using your custom set of roles.">
    <meta property="og:title" content="Werewolf Utility - Create A Game">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://play-werewolf.herokuapp.com/create">
    <meta property="og:description" content="Create a game of Werewolf using your custom set of roles.">
    <meta property="og:image" content="image.png">
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="../styles/GLOBAL.css">
    <link rel="stylesheet" href="../styles/create.css">
</head>
<body>
<h1>Create A Game</h1>
<h3>
    Creating a game gives you the moderator role. You will not be dealt a card. You will know everyone's role and can
    remove any player from the game. You can also play/pause the optional timer and, if desired, delegate your moderator
    role to any other player.
</h3>
<form id="game-form">

</form>
<script type="module">
    import { create } from "../scripts/create.js";
    create();
</script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
</script>
</body>
</html>
