<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Werewolf Utility</title>
        <meta name="description" content="A utility to deal Werewolf cards and run games in any setting, on any device.">
        <meta property="og:title" content="Werewolf Utility">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://play-werewolf.herokuapp.com/">
        <meta property="og:description" content="A utility to deal Werewolf cards and run games in any setting, on any device.">
        <meta property="og:image" content="image.png">

        <link rel="icon" href="/favicon.ico">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

        <link rel="stylesheet" href="../styles/GLOBAL.css">
        <link rel="stylesheet" href="../styles/home.css">
    </head>
    <body>
    <a href="/create">Create A Game</a>
    <script type="module">
        import { home } from "../scripts/home.js";
        home();
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
    </body>
</html>
