@media(max-width: 750px) {
    .app-header {
        font-size: 50px;
        margin: 0.3em 0;
    }

    .app-header-secondary {
        font-size: 35px;
        margin: 0.3em 0;
    }

    .card {
        height: 7.5em;
        width: 4em;
    }

    h3 {
        font-size: 20px;
    }

    .app-content {
        width: 95%;
    }
}

@media(min-width: 750.01px) {
    .app-header {
        font-size: 70px;
        margin: 0.5em 0;
    }

    .app-header-secondary {
        font-size: 50px;
        margin: 0.3em 0;
    }

    .card {
        height: 8.5em;
        width: 5em;
    }

    h3 {
        font-size: 30px;
    }

    .app-content {
        width: 80%;
    }
}

@font-face {
    font-family: 'diavlo';
    src: url("../assets/fonts/Diavlo_LIGHT_II_37.otf") format("opentype");
}

@font-face {
    font-family: 'sitewide-sans-serif';
    src: url("../assets/fonts/manrope-light.otf") format("opentype");
}

html, body {
    margin: 0 auto;
    width: 100%;
    font-family: 'sitewide-sans-serif', sans-serif;
}

.app-content {
    text-align: center;
    margin: 0 auto;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    text-align: center;
}

.app-header, .app-header-secondary {
    font-family: 'diavlo', sans-serif;
    color: #7d0b0b;
}

h3 {
    color: gray;
}

button {
    font-family: 'sitewide-sans-serif', sans-serif;
}

.app-btn {
    background-color: white;
    color: #bd2a2a;
    border: 1px solid #7d0b0b;
    width: 10em;
    padding: 1em;
    border-radius: 3px;
    margin-bottom: 1em;
}

.card {
    text-align: center;
    cursor: pointer;
    color: gray;
    border: 1px solid #7d0b0b;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 1em;
    margin: 0.5em;
    user-select: none;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.card-quantity {
    font-weight: bold;
    color: #7d0b0b;
    font-size: 2.5em;
    margin: 0;
}

.card-role {
    color: gray;
    margin: 0;
}

#card-select {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.app-btn-secondary {
    background-color: white;
    border-radius: 3px;
    color: #7d0b0b;
    border: 1px solid #7d0b0b;
    width: 10em;
    padding: 0.5em;
    margin-right: 1em;
}

.app-btn:hover, .app-btn:focus {
    cursor: pointer;
    background-color: rgba(24, 9, 82, 0.15);
}

.app-btn-secondary:hover, .app-btn-secondary:focus {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

#main-buttons {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card-select-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

#card-select-header h3 {
    margin: 0;
    font-size: 1.2em;
    color: #7d0b0b;
}

#reset-btn {
    background-color: transparent;
    color: #7d0b0b;
    border: 1px solid #7d0b0b;
    width: 8em;
    padding: 0.5em;
    margin: 0 1em 0 0;
    cursor: pointer;
}

#reset-btn:hover {
    background-color: rgba(24, 9, 82, 0.15);
}

#create-game-container, #join-game-container {
    display: inline-block;
    text-align: left;
    margin-bottom: 3em;
}

a {
    text-decoration: none;
    color: inherit;
}

input[type=text] {
    background-color: transparent;
    border: 2px solid #7d0b0b;
    caret-color: gray;
    margin: 0.5em 0 1em 0;
    color: gray;
    padding: 0.5rem;
    width: 8em;
    font-size: 1.1em;
}

input[type=number] {
    background-color: transparent;
    border: 2px solid #7d0b0b;
    caret-color: gray;
    margin: 0.5em 0 1em 0;
    color: gray;
    padding: 0.5rem;
    width: 3em;
    font-size: 1.1em;
}

input[type=text]:hover {
    background-color: rgba(24, 9, 82, 0.15);;
}

label {
    margin-bottom: 1em;
    font-size: 1em;
    display: flex;
    flex-direction: column;
}

#message-box {
    max-width: 25em;
    margin: 1em auto;
    border-bottom: 1px solid #7d0b0b;
    padding: 0.5em;
}


/* lobby */

#lobby-container {
    padding: 1em;
    max-width: 26em;
    margin: 0 auto;
}

.lobby-player {
    color: #7d0b0b;
    border-radius: 3px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, .1);
    padding: 0.5em;
    margin: 0.5em 0;
    text-align: left;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

.highlighted {
    border: 2px solid #7d0b0b;
}

.disabled {
    opacity: 0.7;
    color: gray;
    background-color: white;
    border: 1px solid gray;
    pointer-events: none;

}

.hidden {
    display: none;
}

#lobby-subheader {
    text-align: left;
    margin-bottom: 2em;
}

#join-count, #deck-size {
    font-size: 1.5em;
}

.lobby-player p {
    margin: 0;
}

#launch-btn {
    margin-top: 2em;
}

/* GAME */

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-180deg);
    }
}

.game-card {
    border: 1px solid #7d0b0b;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 17em;
    border-radius: 3px;
    height: 25em;
    margin: 0 auto 2em auto;
    width: 82%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    perspective: 1000px;
    animation: flip 0.7s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    transform-style: preserve-3d;
}

.game-card h2 {
    font-size: 2em;
    color: #7d0b0b;
    font-family: 'diavlo', sans-serif;
}

.game-card p {
    padding: 1em;
}

.game-container {
    margin-top: 1em;
}

/* This container is needed to position the front and back side */
.game-card-inner {
    position: relative;
    width: 95%;
    height: 97%;
    margin: auto auto;
    border-radius: 3px;
    text-align: center;
    border: 1px solid gray;
}

.game-card:hover {
}

/* Position the front and back side */
.game-card-front, .game-card-back {
    background-color: #f0f0f0;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.game-card-back {
    transform: rotateY(180deg);
}

.killed-btn {
    border-radius: 5px;
    width: 13em;
    font-size: 1.2em;
    margin: 0
}

#players-remaining {
    font-size: 1.7em;
    color: gray;
    margin-bottom: 0.5em;
}
