@media(max-width: 750px) {
    .app-header {
        font-size: 35px;
    }

    h3 {
        font-size: 20px;
    }
}

@media(min-width: 750.01px) {
    .app-header {
        font-size: 50px;
    }

    h3 {
        font-size: 30px;
    }
}

body {
    margin: 0 auto;
    width: 100vw;
    font-family: sans-serif;
}

.app-content {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.app-header {
    color: #7d0b0b;
    letter-spacing: 0.1em;
}

h3 {
    color: gray;
}
.app-btn {
    background-color: #7d0b0b;
    color: white;
    border: none;
    width: 10em;
    padding: 1em;
    margin-bottom: 1em;
}

.card {
    text-align: center;
    height: 8em;
    cursor: pointer;
    width: 4.5em;
    color: gray;
    border: 1px solid #7d0b0b;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 1em;
    margin: 0.5em;
    user-select: none;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.card-quantity {
    font-weight: bold;
    color: #7d0b0b;
    font-size: 2.5em;
    margin: 0;
}

.card-role {
    color: gray;
    font-size: 1.1em;
    margin: 0;
}

#card-select {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.app-btn-secondary {
    background-color: transparent;
    color: #7d0b0b;
    border: 1px solid #7d0b0b;
    width: 10em;
    padding: 1em;
    margin-right: 1em;
}

.app-btn:hover, .app-btn:focus {
    cursor: pointer;
    background-color: #bd2a2a;
}

.app-btn-secondary:hover, .app-btn-secondary:focus {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

#main-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card-select-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

#card-select-header h3 {
    margin: 0;
    font-size: 1.2em;
    color: #7d0b0b;
}

#reset-btn {
    background-color: transparent;
    color: #7d0b0b;
    border: 1px solid #7d0b0b;
    width: 8em;
    padding: 0.5em;
    margin: 0 1em 0 0;
}

#create-game-container {
    display: inline-block;
    text-align: left;
}

a {
    text-decoration: none;
    color: inherit;
}

input[type=text] {
    background-color: transparent;
    border: 2px solid #7d0b0b;
    caret-color: gray;
    margin: 0.5em 0 1em 0;
    color: gray;
    padding: 0.5rem;
    width: 8em;
    font-size: 1.1em;
}

input[type=text]:hover {
    background-color: lightgray;
}

label {
    margin-bottom: 1em;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
}
