#confirmation {
    border-radius: 5px;
    text-align: center;
    position: fixed;
    width: 85%;
    z-index: 100001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #16141e;
    align-items: center;
    justify-content: center;
    max-width: 25em;
    font-family: 'signika-negative', sans-serif;
    flex-direction: column;
    padding: 1em;
}

#confirmation-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 100px);
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 100000;
    cursor: pointer;
}

#confirmation-message {
    font-size: 20px;
    color: #e7e7e7;
    margin: 1em 0 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 20em;
    overflow-y: auto;
}

.confirmation-buttons button, .confirmation-buttons-centered button {
    min-width: 5em;
}

.confirmation-buttons {
    display: flex;
    justify-content: space-between;
}

.confirmation-buttons-centered {
    display: flex;
    justify-content: center;
}

#confirmation-cancel-button {
    background-color: #762323 !important;
}
