.lobby-player, #moderator, .spectator, .potential-moderator  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #171522;
    color: #e7e7e7;
    padding: 5px;
    border-radius: 3px;
    font-size: 17px;
    width: 16em;
    border: 2px solid transparent;
    margin: 0 auto 0.25em auto;
}

.moderator {
    border: 2px solid #c58f13;
}

.potential-moderator {
    margin: 0.5em auto;
}

#lobby-players {
    overflow-y: auto;
    max-height: 30em;
    overflow-x: hidden;
    padding: 0 25px 0 10px;
    border-radius: 5px;
}

#lobby-people-container label {
    display: block;
}

#spectator-count {
    color: #b1afcd;
    text-decoration: underline;
    font-size: 17px;
    margin: 5px 0 10px 0;
    cursor: pointer;
}

.lobby-player-client {
    border: 2px solid #21ba45;
}

.lobby-player div:nth-child(2), .spectator div:nth-child(2), .potential-moderator div:nth-child(2) {
    color: #21ba45;
}

#moderator.moderator-client {
    border: 2px solid lightgray;
}

#game-state-container {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    width: 95%;
    margin: 1em auto 140px auto;
}

#game-state-container h2 {
    margin: 0.5em 0;
    max-width: 17em;
}

#restart-game-button, #mod-transfer-button {
    background-color: #045EA6;
    border: 2px solid #024070;
}

#restart-game-button:hover, #mod-transfer-button:hover {
    background-color: #0078D773;
    border: 2px solid #045EA6;
}

#play-pause-placeholder {
    width: 60px;
    height: 60px;
}

#restart-game:hover {
    border-color: #e7e7e7;
}

#lobby-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95%;
    margin: 1em 1em 0 1em;
}

#lobby-header > div:nth-child(1) {
    width: 100%;
}

#lobby-header > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    margin: 0.5em auto;
}

#game-content .placeholder-row:nth-child(1) {
    margin-top: 2em;
}

#footer.game-page-footer {
    margin-top: 1em;
    margin-bottom: 85px;
}

#footer.game-page-footer a {
    margin: 0 5px;
}

#end-of-game-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 !important;
    align-items: center;
}

#end-of-game-header h2 {
    border: 1px solid #3b3a4a;
    border-radius: 5px;
    background-color: #1a1726;
    padding: 7px;
    margin: 0.5em;
}

#end-of-game-header button {
    margin: 0.5em;
    min-width: 12em;
    font-size: 18px;
}

#end-of-game-header #restart-game-button {
    margin-bottom: 1em !important;
    animation: shadow-pulse 1.5s infinite ease-out;
    padding: 10px;
}

.potential-moderator:hover {
    border: 2px solid #d7d7d7;
    cursor: pointer;
}

.potential-moderator:active {
    border: 2px solid #21ba45;
    transition: border 0.2s ease-out;
}

#game-link {
    cursor: pointer;
    margin-top: 10px;
    padding: 7px;
    border-radius: 5px;
    background-color: #121314;
    border: 2px solid #3b3a4a;
    color: #e7e7e7;
    align-items: center;
    display: flex;
    transition: background-color 0.2s;
    max-width: 20em;
}
#game-code {
    color: #e7e7e7;
    margin-top: 5px;
}

#game-code span {
    font-family: "Courier New", monospace;
    color: #21ba45;
    font-size: 20px;
}

#game-link > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95%;
}

.role-info-name {
    display: flex;
}

.role-info-name h5:nth-child(1) {
    margin-right: 10px;
    color: #21ba45;
}

#role-info-button img, #mod-transfer-button img {
    height: 25px;
    margin-left: 10px;
}

#game-role-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em 0;
    overflow-y: auto;
    max-height: 35em;
}

#game-role-info-container > div {
    width: 95%;
    border: 1px solid #46455299;
    background: #4645523b;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

#transfer-mod-modal-content {
    overflow-y: auto;
    max-height: 35em;
    width: 100%;
}

.potential-moderator {
    width: 90%;
}

#role-info-modal .modal-button-container {
    margin-top: 1em;
    justify-content: center;
}

#game-role-info-container .role-info-name {
    border-radius: 5px;
    font-size: 20px;
    font-family: signika-negative, sans-serif;
}

#role-info-modal h2 {
    color: #d7d7d7;
    font-family: signika-negative, sans-serif;
    font-weight: normal;
}

#game-role-info-container p, #game-role-info-container h5 {
    text-align: left;
    font-weight: normal;
}

#game-role-info-container p {
    color: #d7d7d7;
    font-size: 14px;
    font-family: signika-negative, sans-serif;
}

#game-role {
    display: none;
    position: relative;
    border: 5px solid transparent;
    background-color: #e7e7e7;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    max-width: 17em;
    border-radius: 5px;
    height: 23em;
    margin: 10px 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11),
    0 2px 2px rgba(0,0,0,0.11),
    0 4px 4px rgba(0,0,0,0.11),
    0 8px 8px rgba(0,0,0,0.11),
    0 16px 16px rgba(0,0,0,0.11),
    0 32px 32px rgba(0,0,0,0.11);
    /*perspective: 1000px;*/
    /*transform-style: preserve-3d;*/
}

#game-role, #game-role-back {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#game-role:active, #game-role-back:active {
    filter: brightness(0.85);
}

.game-role-good {
    border: 5px solid #5469c5 !important;
}

.game-role-evil {
    border: 5px solid #c55454 !important;
}

#game-role-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171522;
    border: 5px solid #61606a;
    position: relative;
    flex-direction: column;
    cursor: pointer;
    max-width: 17em;
    border-radius: 5px;
    height: 23em;
    margin: 10px 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11),
    0 2px 2px rgba(0,0,0,0.11),
    0 4px 4px rgba(0,0,0,0.11),
    0 8px 8px rgba(0,0,0,0.11),
    0 16px 16px rgba(0,0,0,0.11),
    0 32px 32px rgba(0,0,0,0.11);
    /*perspective: 1000px;*/
    /*transform-style: preserve-3d;*/
}

#game-role-back h4 {
    font-size: 30px;
    padding: 0.5em;
    text-align: center;
    color: #e7e7e7;
}

#game-role-back p {
   color: #c3c3c3;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

#game-timer {
    padding: 10px;
    margin-top: 5px;
    background-color: #262626;
    color: #e7e7e7;
    border-radius: 5px;
    font-size: 35px;
    text-shadow: 0 3px 4px rgb(0 0 0 / 85%);
    border: 1px solid #747474;
    width: 204px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    margin-bottom: 15px;
    position: relative;
}

.timer-error {
    color: #c51212 !important;
    font-size: 20px !important;
}

#game-timer.low {
    color: #e71c0d;
    border: 1px solid #ca1b17;
    background-color: #361a1a;
}

#role-name {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'signika-negative', sans-serif;
    width: 95%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#role-image {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 78%;
}

#role-description {
    overflow: auto;
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 15px;
    width: 78%;
    max-height: 6em;
}

#game-link img {
    width: 20px;
    margin-left: 0.5em;
}

#game-title {
    margin: 0 auto;
}

#client-container {
    max-width: 35em;
    margin: 1em 0;
}

#client {
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #3b3a4a;
    border-radius: 5px;
    min-width: 15em;
}

#client-name {
    color: #e7e7e7;
    font-family: 'signika-negative', sans-serif;
    font-size: 25px;
    margin: 0.25em 2em 0.25em 0;
}

#client-user-type {
    color: #21ba45;
    font-family: 'signika-negative', sans-serif;
    font-size: 25px;
    background-color: #171522;
    border-radius: 5px;
    display: block;
    padding: 0 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

label[for='moderator'] {
    font-family: 'signika-negative', sans-serif;
    color: lightgray;
    filter: drop-shadow(2px 2px 4px black);
    font-size: 30px;
}

#start-game-prompt, #game-control-prompt {
    padding: 0.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 3;
    font-family: 'signika-negative', sans-serif;
    font-weight: 100;
    box-shadow: 0 -6px 15px rgb(0 0 0 / 50%);
    bottom: 0;
    border-radius: 5px;
    font-size: 20px;
    height: 100px;
    margin: 0 auto;
    background-color: #1b1a24;
    width: 100%;
}

#game-control-prompt {
    padding: 0.5em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 3;
    font-family: 'signika-negative', sans-serif;
    font-weight: 100;
    box-shadow: 0 -6px 15px rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    /* width: fit-content; */
    font-size: 20px;
    height: 100px;
    margin: 0 auto;
    max-width: 100%;
    background-color: #1b1a24;
}

#game-control-prompt button {
    margin: 0 15px;
    min-width: 5em;
}

#start-game-prompt p {
    color: whitesmoke;
    font-size: 15px;
}

#start-game-prompt > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#game-control-prompt {
    box-shadow: 0 -6px 40px black;
}

#start-game-button, #end-game-button, #restart-game-button {
    font-family: 'signika-negative', sans-serif !important;
    padding: 10px;
    border-radius: 5px;
    color: #e7e7e7;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color, border 0.3s ease-out;
    text-shadow: 0 3px 4px rgb(0 0 0 / 85%);
    font-size: 25px;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#start-game-button {
    background-color: #1c8a36;
    margin-bottom: 10px;
    animation: shadow-pulse 1.5s infinite ease-out;
}

#end-game-button {
    background-color: #8a1c1c;
}

#start-game-button:hover {
    background-color: #326243;
    border: 2px solid #1c8a36;
}

#end-game-button:hover {
    background-color: #623232;
    border: 2px solid #8a1c1c;
}

#play-pause {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

#play-pause img {
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    width: 60px;
}

#play-pause img:hover {
    filter: brightness(0.5);
}

#play-pause img:active {
    transform: scale(0.95);
}

.paused {
    animation: pulse 0.75s linear infinite alternate;
    border: 1px solid #ffc83d !important;
}

.paused-low {
    animation: pulse-low 0.75s linear infinite alternate;
}

#game-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

#game-header button {
    min-width: 12em;
}

#timer-container-moderator {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 5px;
    background-color: #3b3a4a;
}

canvas {
    border-radius: 5px;
    margin: 1em;
}

.game-player {
    border-left: 3px solid #21ba45;
    display: flex;
    color: #d7d7d7;
    background-color: #171522;
    align-items: center;
    padding: 0 5px;
    justify-content: space-between;
    margin: 0.25em 0;
    position: relative;
    border-radius: 3px;
}

.player-action-buttons {
    justify-content: flex-end;
}

.game-player-name, .lobby-player-name, .spectator-name, .potential-mod-name {
    position: relative;
    min-width: 6em;
    max-width: 10em;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    font-size: 16px;
    text-overflow: ellipsis;
    text-align: left;
}

.kill-player-button, .reveal-role-button {
    background-color: #434156;
    font-family: 'signika-negative', sans-serif !important;
    border-radius: 5px;
    color: #e7e7e7;
    height: 25px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color, border 0.2s ease-out;
    text-shadow: 0 3px 4px rgb(0 0 0 / 55%);
    margin: 5px 0 5px 25px;
    width: 65px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.kill-player-button:hover, .reveal-role-button:hover {
    border: 2px solid #b1afcd;
}

#game-players-container {
    width: 27em;
    max-width: 100%;
}

.placeholder-button {
    font-family: 'signika-negative', sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #767676;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0 3px 4px rgb(0 0 0 / 55%);
    margin: 5px 0 5px 25px;
    width: 65px;
    height: 25px;
}

#game-link:hover {
    background-color: #26282a;
    border: 2px solid #d7d7d7;
}

/*.reveal-role-button {*/
/*    background-color: #586a6e;*/
/*}*/

.reveal-role-button img {
    width: 18px;
}

#game-player-list > .game-player.killed::after {
    content: '\01F480';
    font-size: 24px;
    margin-left: 1em;
}

.killed, .killed .game-player-role {
    /*color: gray !important;*/
}

.game-player-role {
    min-width: 7em;
}

.game-player.killed {
    border-left: 3px solid #444444;
}

.reveal-role-button {
    display: flex;
    align-items: center;
}

/*.make-mod-button {*/
/*    background-color: #3f5256;*/
/*    font-size: 18px;*/
/*    padding: 10px;*/
/*    border: 2px transparent;*/
/*    border-radius: 5px;*/
/*    color: #d7d7d7;*/
/*    font-family: signika-negative, sans-serif;*/
/*}*/

.make-mod-button:hover {
    cursor: pointer;
}

/*.kill-player-button {*/
/*    background-color: #9f4747;*/
/*}*/

.killed-card {
    width: 55% !important;
}

.game-player > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
}

#game-parameters {
    background-color: #3b3a4a;
    border-radius: 5px;
    padding: 5px 20px;
}

#game-player-list {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px 10px 0;
    max-height: 37em;
}

#game-player-list > div {
    padding: 2px 10px;
    border-radius: 3px;
    margin-bottom: 0.25em;
}

#players-alive-label {
    display: block;
    font-size: 25px;
}

#transfer-mod-form {
    width: 100%;
}

#mod-transfer-button {
    margin-bottom: 0.5em;
}

#transfer-mod-form .modal-button-container {
    justify-content: center;
}

#transfer-mod-modal .modal-button-container {
    justify-content: center;
}

#change-name-modal-background {
    cursor: default;
}

#lobby-people-container , #game-people-container {
    padding: 10px;
    border-radius: 5px;
    min-height: 25em;
    background-color: #3b3a4a;
    max-width: 35em;
    min-width: 17em;
    margin-top: 1em;
}

#transfer-mod-modal-content {
    margin-bottom: 2em;
    color: #d7d7d7;
}

#game-state-container.vertical-flex {
    flex-direction: column;
    align-items: center;
}

@media(max-width: 800px) {
    #start-game-prompt, #game-control-prompt {
        border-radius: 0;
        width: 100%;
        bottom: 0;
    }
}

@media(max-width: 500px) {
    label {
        font-size: 18px;
    }

    #game-people-container {
        padding: 5px;
    }

    #players-alive-label {
        font-size: 20px;
    }

    #client-name {
        font-size: 20px;
    }

    #client-user-type, #game-parameters {
        font-size: 20px;
    }

    #game-state-container {
        margin: 0 auto 105px auto;
    }

    button {
        font-size: 16px;
    }

    #play-pause img {
        width: 45px;
    }

    /*.make-mod-button {*/
    /*    font-size: 16px;*/
    /*    padding: 5px;*/
    /*}*/

    .game-player-name, .game-player-role {
        font-size: 14px;
    }

    #game-timer {
        padding: 5px;
        font-size: 30px;
        height: 30px;
        width: 167px;
    }

    #role-info-button, #mod-transfer-button {
        padding: 7px;
    }

    #players-alive-label {
        font-size: 20px;
    }

    #start-game-prompt, #game-control-prompt {
        height: 65px;
    }

    #start-game-button, #end-game-button, #restart-game-button {
        font-size: 20px;
        padding: 5px;
    }

    #game-role, #game-role-back {
        height: 18em;
        max-width: 13em;
    }

    #client-container {
        margin: 0;
    }

    #game-role-back p {
        font-size: 18px;
    }

    #game-role-back h4 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    #role-description {
        font-size: 14px;
        max-height: 7em;
    }

    #role-image {
        width: 70%;
    }
}

@keyframes pulse {
    from {
        color: rgba(255, 255, 255, 0.1);
    } to {
        color: rgba(255, 255, 255, 1);
    }
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(28, 138, 54, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(28, 138, 54, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(28, 138, 54, 0);
    }
}

@keyframes pulse-low {
    from {
        color: rgba(231, 28, 13 , 0.1);
    } to {
          color: rgba(231, 28, 13, 1);
    }
}

@keyframes fade-in-slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    5% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-in-slide-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    5% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
