html {
    /*background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(17 18 18) 35%, rgba(27,31,31,1) 100%);*/
}

body {
    align-items: center;
}

button#home-create-button {
    padding: 20px;
}

#framed-phone-screenshot, #framed-phone-screenshot-2 {
    max-width: 250px;
    width: 40vw;
    min-width: 175px;
    margin: 0;
}

#about-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#about-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    flex-wrap: wrap;
    padding: 25px 0;
}

#join-container form {
    margin: 0;
}

#about-container h2 {
    max-width: 17em;
    font-size: 22px;
    border-left: 1px solid #bababa;
    padding: 15px;
}

#about-container img {
    margin-bottom: 20px;
}

#homepage-logos {
    display: flex;
    align-items: center;
}

#home-page-top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1e1b26;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

a button {
    text-shadow: 0 3px 4px rgb(0 0 0 / 85%);
}

#join-button {
    min-width: 6em;
    max-height: 3em;
    background-color: #1c8a36;
    color: #e7e7e7;
    font-size: 16px;
}

#join-button:hover {
    background-color: #326243;
    border: 2px solid #1c8a36;
}

#join-form div:nth-child(1) {
    margin-right: 0.5em;
}

h3 {
    font-size: 20px;
    margin-bottom: 1em;
    padding: 1em;
    max-width: 23em;
    font-family: 'signika-negative', sans-serif;
}

img[src='../images/logo_cropped.gif'] {
    max-width: 360px;
    width: 50vw;
    min-width: 250px;
    margin: 1em 0 1em 0;
}

form > div {
    margin: 15px 0;
}

#create-join {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

#join-container {
    max-width: 90%;
    background-color: #0f0f10;
    padding: 0.5em;
    border-radius: 5px;
    margin: 20px;
}

#join-container > label {
    font-size: 35px;
    font-family: 'signika-negative', sans-serif;
    color: #e7e7e7;
    filter: drop-shadow(2px 2px 4px black);
}

label[for="room-code"], label[for="player-name"] {
    margin-right: 0.5em;
}

@media (min-width: 700px) {
    button#home-create-button {
        font-size: 35px;
    }
}

@media (max-width: 701px) {
    button#home-create-button {
        font-size: 5vw;
        padding: 15px;
    }

    #join-container > label {
        font-size: 26px;
    }

    #room-code {
        max-width: 9em;
    }

    #about-container h2 {
        font-size: 18px;
    }
}
