#join-game-modal {
    border-left: 5px solid #b1afcd;
    transform-origin: center;
    display: block;
    z-index: 1 !important;
    background-color: #1e1e1e;
}

#join-game-form .modal-button-container {
    justify-content: flex-end;
    margin-top: 2em;
}

#join-game-form .modal-button-container #join-submit {
    width: 5em;
    margin: 0 10px;
}

.modal-button-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    background-color: #4645525c;
}

.modal-button-container > div > label {
    margin: 0 10px;
    cursor: pointer;
}

label[for="player-new-name"] {
    font-size: 22px !important;
}

.modal-button-container > div > input {
    cursor: pointer;
}

#player-new-name {
    max-width: 17em;
}

#game-parameters div:nth-child(1) {
    margin-bottom: 20px;
    font-size: 35px;
}

#game-code {
    font-family: "signika-negative", sans-serif;
    letter-spacing: 0.2rem;
    color: #21ba45;
}
