#join-game-modal {
    border-left: 5px solid #b1afcd;
    animation: entrance 0.5s forwards;
    transform-origin: center;
    display: block;
    z-index: 1 !important;
}

#join-game-form .modal-button-container {
    justify-content: flex-end;
    margin-top: 2em;
}

#join-game-form .modal-button-container input {
    width: 5em;
    margin: 0 10px;
}

#join-game-form .modal-button-container #submit-join-as-spectator {
    background-color: #045EA6;
}

#join-game-form .modal-button-container #submit-join-as-spectator:hover {
    background-color: #0078D773;
    border: 2px solid #045EA6;
}

#player-new-name {
    max-width: 17em;
}

#game-parameters div:nth-child(1) {
    margin-bottom: 20px;
}

#game-code {
    font-family: "Courier New", monospace;
}

@keyframes entrance {
    0% {
        transform: translate(-50%, calc(-50% + 40px));
        opacity: 0;
    }
    95% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 1;
    }
}
