.modal {
    border-radius: 5px;
    text-align: center;
    position: fixed;
    width: 85%;
    z-index: 100001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #16141e;
    align-items: center;
    justify-content: center;
    max-width: 25em;
    font-family: 'signika-negative', sans-serif;
    flex-direction: column;
    padding: 1em;
    display: none;
}

.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 100px);
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100000;
    cursor: pointer;
}

.modal > form > div:not(.modal-button-container) {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.modal > form > div > label {
    display: flex;
    font-size: 16px;
}

.modal-button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

.modal-button-container .app-button, .modal-button-container input[type="submit"] {
    min-width: 6em;
}

.single-button {
    justify-content: center;
}

#custom-role-info-modal-image {
    margin: 0 auto;
    width: 200px;
    background-color: #4645525c;
    border-radius: 5px;
}

#custom-role-info-modal {
    color: #d7d7d7;
    text-align: left;
    font-family: signika-negative, sans-serif;
    align-items: flex-start;
}

#custom-role-info-modal-image-placeholder {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#custom-role-info-modal h3 {
    margin: 0 auto 0.5em auto;
}

#custom-role-info-modal-description {
    border-radius: 5px;
    background-color: #4645525c;
    max-height: 10em;
    overflow: auto;
    padding: 5px;
    margin-bottom: 2em;
    border: 1px solid #46455299;
}

#player-options-modal {
    z-index: 200001;
}

#player-options-modal-background {
    z-index: 200000;
}

#custom-role-info-modal-name {
    font-family: 'signika-negative', sans-serif;
    font-size: 23px;
}

#custom-role-info-modal label {
    margin: 5px 0;
}

#custom-role-info-modal-alignment {
    border-radius: 5px;
    background-color: #4645525c;
    border: 1px solid #46455299;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

#change-name-modal, #transfer-mod-modal, #role-info-modal {
    position: fixed;
}

#role-info-modal, #transfer-mod-modal {
    max-height: 80%;
}
